Repository barstown/ansible-collection-server_baseline, changes with the labels that .github/labeler.yml gives for each.
All labels: access_conf, actions

Updated ignore list on galaxy.yml.
  galaxy.yml
Labels: none

Setting up molecule testing workflow and framework.
  .github/workflows/acccess_conf.yml
  molecule/access_conf/collections.yml
  molecule/access_conf/converge.yml
  molecule/access_conf/molecule.yml
  molecule/access_conf/prepare.yml
  molecule/access_conf/verify.yml
  roles/access_conf/meta/argument_specs.yml
Labels: access_conf, actions

Running ansible-lint action twice to fix bug with found collections.
  .github/workflows/ansible-lint.yml
Labels: actions

Added small change to .ansible-lint.
  .ansible-lint
Labels: none

Adding a comment to trigger the ansible-lint action.
  galaxy.yml
Labels: none

Removed useless comment from galaxy.yml.
  galaxy.yml
Labels: none

Updated access_conf argument_spec file.
  roles/access_conf/meta/argument_specs.yml
Labels: access_conf

Update access_conf README
  roles/access_conf/README.md
Labels: access_conf

Add renovate.json
  renovate.json
Labels: none

Update renovate.json
  renovate.json
Labels: none

Update ansible/ansible-lint action to v25
  .github/workflows/ansible-lint.yml
Labels: actions

Update dependency python to 3.13
  .github/workflows/aar_docs.yml
Labels: actions

Update actions/checkout action to v5
  .github/workflows/aar_docs.yml
  .github/workflows/ansible-lint.yml
  .github/workflows/woke.yml
Labels: actions

Updated var names to appease ansible-lint v25.7.
  galaxy-deploy.yml
  roles/access_conf/tasks/pam.yml
Labels: access_conf

Updated recommended extensions.
  .vscode/extensions.json
Labels: none

Update actions/setup-python action to v6
  .github/workflows/aar_docs.yml
Labels: actions

Update actions/labeler action to v6
  .github/workflows/labeler.yml
Labels: actions

Update tj-actions/changed-files action to v47
  .github/workflows/woke.yml
Labels: actions

Update dependency python to 3.14
  .github/workflows/aar_docs.yml
Labels: actions

Update actions/checkout action to v6
  .github/workflows/aar_docs.yml
  .github/workflows/ansible-lint.yml
  .github/workflows/woke.yml
Labels: actions

Update ansible/ansible-lint action to v26
  .github/workflows/ansible-lint.yml
Labels: actions

Pin dependencies
  .github/workflows/aar_docs.yml
  .github/workflows/ansible-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/woke.yml
Labels: actions

Update ansible/ansible-lint digest to 5fac056
  .github/workflows/ansible-lint.yml
Labels: actions

Update actions/labeler digest to f27b608
  .github/workflows/labeler.yml
Labels: actions

Update actions/checkout digest to df4cb1c
  .github/workflows/aar_docs.yml
  .github/workflows/ansible-lint.yml
  .github/workflows/woke.yml
Labels: actions

Update actions/checkout action to v7
  .github/workflows/aar_docs.yml
  .github/workflows/ansible-lint.yml
  .github/workflows/woke.yml
Labels: actions

Update actions/setup-python digest to ece7cb0
  .github/workflows/aar_docs.yml
Labels: actions

Update ansible/ansible-lint digest to 262624c
  .github/workflows/ansible-lint.yml
Labels: actions

Update actions/labeler digest to b8dd2d9
  .github/workflows/labeler.yml
Labels: actions

Update actions/setup-python action to v7
  .github/workflows/aar_docs.yml
Labels: actions

Update actions/checkout digest to 3d3c42e
  .github/workflows/aar_docs.yml
  .github/workflows/ansible-lint.yml
  .github/workflows/woke.yml
Labels: actions

Update actions/labeler action to v7
  .github/workflows/labeler.yml
Labels: actions

Update ansible/ansible-lint digest to 665d9e0
  .github/workflows/ansible-lint.yml
Labels: actions

Update ansible/ansible-lint digest to e7f397a
  .github/workflows/ansible-lint.yml
Labels: actions

Update dependency python to 3.15
  .github/workflows/aar_docs.yml
Labels: actions

.github/labeler.yml:

---
access_conf:
  - changed-files:
      - any-glob-to-any-file:
          - roles/access_conf/**
          - molecule/access_conf/**
          - .github/workflows/access_conf.yml
actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*.yml
